<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269403814907-nkume3bicrdnuivs9gudmu4qlnagil1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269403814907-nkume3bicrdnuivs9gudmu4qlnagil1d</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSfvMchi27-XwVDEyLjelEhyzvnSfGdg</string>
	<key>GCM_SENDER_ID</key>
	<string>269403814907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationApp</string>
	<key>PROJECT_ID</key>
	<string>notification-app-f5ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-app-f5ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269403814907:ios:dd02157390f3442d1fa95e</string>
</dict>
</plist>